# Dependencias
/node_modules

# Archivos de compilación
/dist
/tmp

# Archivos de configuración de IDE/editor
/.vscode
/.idea
*.swp
*~
.project

# Archivos de log
*.log
npm-debug.log*

# Archivos de entorno
.environment.local
